// https://nextjs.org/docs/advanced-features/customizing-babel-config
{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        "@babel/plugin-proposal-do-expressions",
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": false
            }
        ]
    ]
}